*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;

    background-color: #111b21;

    color: white;

    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

header{
    background-color: #202c33;

    padding: 15px;
}

nav{
    display: flex;

    align-items: center;

    justify-content: space-between;
}

.app{
    display: flex;

    align-items: center;

    gap: 10px;

    text-decoration: none;
}

.app > img{
    width: 40px;
    height: 40px;

    border-radius: 50%;

    background-color: gray;
}

.app > span{
    font-size: 24px;

    font-weight: bold;

    color: #00a884;
}

nav > a > img{
    width: 32px;
    height: 32px;

    border-radius: 30%;

    background-color: gray;
}

main{
    flex: 1;

    padding: 20px;
}

footer{

    background-color: #202c33;

    padding: 15px;

    display: flex;

    flex-direction: row;

    align-items: center;

    gap: 8px;

    text-align: center;
}

footer > img{

    width: 100px;
    height: 100px;

    border-radius: 30%;

    background-color: white;
}

.tituloTrabalho{

    font-weight: bold;
}

.devs{

    color: #00a884;
}